/*General*/

main{
    background-color: rgba(222, 222, 222, 1);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body{
    margin: 0;
    padding: 0;
}

header{
    height: 100px;
    background-color: rgba(217, 172, 37, 1);
    color: rgba(31, 66, 62, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}

nav li{
    display: inline-block;
    font-size: 26px;
    font-weight: 700;
    padding: 8px;
}

nav{
    flex: 1;
}

a{
    text-decoration: none;
    color: rgba(31, 66, 62, 1);
}

.logo{
    width:210px;
    height: 100px;
}

footer{

    background-color: rgba(217, 172, 37, 1);
    color: rgba(31, 66, 62, 1);
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}

footer ul{
    list-style-type: none;
    font-size: 20px;
}

footer h3{
    margin-top: 70px;
    font-size: 32px;
    margin-bottom: -5px;
}

footer li{
    padding: 4px;
}

.header-icon{
    height: 32px;
    width: 32px;
    color:rgba(31, 66, 62, 1);
    padding: 4px;
}

.icons{
    margin-right: 70px;
}

.social-media-icon{
    padding: 10px;
    height: 32px;
    width: 32px;
}

.footer-li{
    font-size: 26px;
    font-weight: 700;
}

.active-nav{
    text-decoration: underline;
    text-decoration-color: rgba(31, 66, 62, 1);
}

.hover-nav:hover{
    text-decoration: underline;
    text-decoration-color: rgba(31, 66, 62, 1);
    cursor: pointer;
}

/*Checkout success*/

.checkout-success-h1{
    font-size: 32px;
}

.order-confirmation{
    font-size: 20px;
}

.cta-checkout-success{
    background-color: rgba(95, 173, 86, 1);
    padding: 10px 30px;
    font-size: 28px;
    color: black;
    border-radius: 30px;
}

.cta-checkout-success:hover{
    opacity: 0.8;
    cursor: pointer;
}

.checkout-success-checkmark{
    width: 92px;
    height: 92px;
    color: rgba(95, 173, 86, 1);
    border-radius: 46px;
    border: 1px solid rgba(95, 173, 86, 1);

}

.checkout-success-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-success-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*About Us*/

.section-about-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5%;
}

.about-image{
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-bottom: 5%;
}

.article-about-us{
    line-height: 35px;
    font-size: 20px;
    width: 70%;
}

.h1-about-us{
    font-size: 36px;
    position: relative;
    left: 5%;
}

.h2-about-us{
    font-size: 32px;
}

/*Contact Us*/

.form-input{
    display: block;
    background-color: rgba(222, 222, 222, 1);
    width: 400px;
    height: 25px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 8px;
}

.h1-contact{
    font-size: 32px;
}

.h2-contact{
    font-size: 24px;
    font-weight: lighter;
}

form label{
    font-size: 15px;
}

.description-contact{
    padding-bottom: 100px;
    margin-bottom: 20px;
}
    

.cta-contact-us{
    background-color: rgba(95, 173, 86, 1);
    padding: 10px 60px;
    border-width: 0px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: lighter;
}

.cta-contact-us:hover{
    opacity: 0.8;
    cursor: pointer;
}

.section-contact-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*Shop*/

.product-img-shop{
    width: 70%;
    height: 50%;
    border: 1px solid black;
    object-fit: contain;
}

.product-name-shop{
    font-size: 28px;
    font-weight: bold;
}

.product-price-shop{
    font-size: 24px;
    font-weight: lighter
}

.cta-shop{
    background-color: rgba(95, 173, 86, 1);
    font-size: 24px;
    border: none;
    border-radius: 20px;
    padding: 5px 30px;
}

.cta-shop:hover{
    opacity: 0.8;
    cursor: pointer;
}

.grid-container-shop{
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 100px;
    column-gap: 40px;
}

/*Homepage*/

.banner-index{
    position: relative;
    height: 500px;
    width: 50%;
}

.banner-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}

.banner-content{
    position: absolute;
    inset: 0;
    padding: 0.5 rem;
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 22px;
    color: white;
    }

  .index-image{
    width: 50%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
  }

  .h1-index{
    background-color: rgba(217, 172, 37, 1);
    color: rgba(31, 66, 62, 1);
    font-size: 35px;
    width: 50%;
    height: 50px;
    margin-top: 50px;
  }

  .h2-index{
    background-color: rgba(179, 40, 33, 1);
    color: white;
    font-size: 35px;
    text-align: right;
    width: 50%;
    height: 50px;
    margin-top: 50px;
    
  }

  .main-index-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    

    }

/*Product page*/

.product-image{
    width: 65%;
}

.size-button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: black;
    color: white;
}

.size-button:hover{
    opacity: 0.8;
    cursor: pointer;
}

.cta-product{
    background-color: rgba(95, 173, 86, 1);
    border: none;
    font-size: 26px;
    padding: 10px 30px;
    border-radius: 30px;
}

.cta-product:hover{
    opacity: 0.8;
    cursor: pointer;
}

.article-product{
    line-height: 30px;
    font-size: 25px;
    font-weight: 100;
    width: 65%;

}

.h1-product{
    font-size: 36px;
    margin: 0;
}

.h2-product{
    font-size: 30px;
}

.main-grid-product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 7%;
}

.product-sizes-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
}

/*Checkout page*/

.checkout-input{
    width: 300px;
}

.order-summary-section{
    border: 1px solid black;
    height: 40%;
    width: 80%;
    border-radius: 15px;
}

.summary-image{
    width: 30%;
}

.order-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.h3-checkout{
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 28px;
}

.order-price{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
    font-size: 24px;
    font-weight: bold;
}

.jacket-info{
    font-size: 20px;
}

.jacket-price{
    font-size: 24px;
}

.cta-checkout{
    width: 30%;
    background-color: rgba(95, 173, 86, 1);
    color: black;
    padding: 10px 25px;
    text-align: center;
    border-radius: 20px;
}

.cta-checkout:hover{
    opacity: 0.8;
    cursor: pointer;
}

.section-flex-checkout{
    display: flex;
    flex-direction: column;
}